.btn {
	display: flex;
	border: none;
	cursor: pointer;
	outline: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
	font-weight: bold;
	font-size: 1rem;
	transition: 200ms all ease-out;
	text-transform: uppercase;
	height: 3.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 0.25rem;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.btn.btn-primary {
	background: $primary-default;
	color: $background;
	fill: $background;

	&:hover {
		background: $primary-dark;
	}
}

.btn.btn-secondary {
	background: $secondary-default;
	color: $background;
	fill: $background;

	&:hover {
		background: $secondary-dark;
	}
}

.btn.continue {
	padding: 1rem 3rem;
}

.btn.btn-flat {
	background: $background;
	color: $neutral-default;
	fill: $neutral-default;
	padding: 0;
}

.btn.btn-outline {
	background: $background;
	color: $neutral-default;
	fill: $neutral-default;
	border: 1px solid $neutral-default;
	padding: 1rem 1.125rem;
}

.btn.badge {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	height: 1.5rem;
	min-width: 4.4rem;
	gap: 0.5rem;

	font-size: 0.813rem;
	text-transform: none;

	background: $primary-light;
	color: $primary-default-light;
	fill: $primary-default-light;

	&:hover {
		opacity: 0.8;
	}
}

.btn.search {
	padding: 1rem 1.125rem;
}

.btn.badge.bottom-list {
	width: fit-content;
	margin-top: -1rem;
}
