.input-area {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > label {
    margin-bottom: 0.5rem;
  }

  &.invalid {
    input {
      border-color: $error-default;
    }
  }
}

label {
  color: $neutral-black;
  display: flex;
  font-family: $font-family;
  font-size: 1.125rem;
  font-weight: bold;
  gap: 0.75rem;

  & .required::after {
    content: "*";
    color: $error-default;
    font-size: 0.813rem;
    position: relative;
    top: -5px;
  }
}

input,
.input {
  background: $background;
  border: 1px solid $neutral-default;
  border-radius: 0.25rem;
  color: $neutral-black;
  display: flex;
  flex: 1;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: 500;
  min-height: 3rem;
  padding: 0 1rem;
  transition: all ease-out 200ms;
  width: auto;

  &:focus,
  &:hover {
    border-color: $primary-default;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &::placeholder {
    opacity: 0.4;
  }
}

input.hidden {
  display: none;
}

input.search {
  padding: 0 1.5rem;
  font-size: 1.313rem;
  font-weight: 700;
  min-height: 3.5rem;
}