h1, h3 {
	font-weight: var(--display1-weight);
}

p {
	color: var(--gray-700);
}

ul {
    list-style-type: none;
	padding: 0px;
}

.content-agent-btn { 
	background-color: white;
	border: solid 1px ;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 20px;
	padding: 7px 35px;
	text-align: center;
}

.btn-call-color {
	border: #4C85FF;
	color: #4C85FF;
}

.btn-back-color {
	border: #7D7E85;
	color: #7D7E85;
}

.content-agent-text-adictional {
	color: #606167;
	font-size: 13px;
	font-weight: 700;
}

.content-agent-text-chat {
	color: #4C85FF;
	cursor: pointer;
	font-size: 13px;
	margin-bottom: 0px;
}

.content-agent-text-your-application {
	border-radius: 4px;
	background-color: #C2EADD;
	color: #08AA72;
	font-size: 24px;
	font-weight: 700;
	padding: 8px;
	text-align: center;
}

.content-agent-margin {
   margin-bottom: 27vh;
   margin-top: 7vh;
}